# Combining genotype info

### Load data
We need to combine the genotype info with the AngioTool data.


Start by loading the Excel spreadsheet with select columns (we don't care about the date, time, etc.) into a `pandas` DataFrame.

In [3]:
import numpy as np
import pandas as pd

#tweaked_results = './processed/tweaked/TweakedResults11-6-2017.xls'
tweaked_results = '../data/TweakedResults2017-12-8.xls'
data = pd.read_excel(tweaked_results,
                     usecols = "A, G, N, O, Q, S")
# These are the Excel columns that correspond to 
# the desired AngioTool output parameters

#pd.options.display.float_format = '{:,.2f}'.format

Confirm you loaded the correct thing by looking at the header. You can always look at a Dataframe's first five entries through `df.head()`

In [4]:
data.head()

,Image Name,Vessel Thickness,Vessels percentage area,Total Number of Junctions,Total Vessels Length,Total Number of End Points
0,35-3b-field 1.tif,9,65.034498,119,14.215480,16
1,35-3b-field 2.tif,9,61.498248,183,16.877167,17
2,35-3b-field 3.tif,9,55.247350,157,15.500902,29
3,35-5b-field 1.tif,10,55.218967,138,14.465886,37
4,35-5-field 2.tif,9,51.731472,134,13.181119,32

### Create unique IDs for each animal
We need to parse the Image Name column in order to get a unique ID for each animal. The unique ID will be used for pairing genotypes using the Genotyping Key document.

I'm using list comprehensions to get Litter/ID info from the Image Name. Both are added to our `data` DataFrame.

In [5]:
data['Litter'] =   [x[:2] for x in data['Image Name']]
data['AnimalID'] = [x[:4] for x in data['Image Name']]

### Load genotyping key
Once again, we'll use the `read_excel` tool found within the `pandas` library.

In [7]:
key = pd.read_excel('../data/genotypingkey.xlsx')
key

    Litter  ID AnimalID Genotype
0       35   3     35-3      +/+
1       35   5     35-5  DEE/DEE
2       35   6     35-6  DEE/DEE
3       35   7     35-7    DEE/+
4       36   2     36-2    DEE/+
5       36   3     36-3      +/+
6       36   4     36-4  DEE/DEE
7       36   5     36-5      +/+
8       36   6     36-6    DEE/+
9       37   3     37-3    DEE/+
10      37   4     37-4  DEE/DEE
11      37   5     37-5      +/+
12      39   1     39-1    DEE/+
13      39   2     39-2  DEE/DEE
14      39   3     39-3      +/+
15      40   2     40-2  DEE/DEE
16      40   4     40-4    DEE/+
17      40   6     40-6      +/+
18      41   3     41-3      +/+
19      41   4     41-4  DEE/DEE

### Obtain entire dataset
We'll merge the two dataframes by using the `merge` function from the `pandas` library. Notice how `AnimalID` is used to match.

We can also drop unneeded columns such as `Image Name`, `ID`, and the duplicated `Litter_y`.

In [8]:
merged_inner = pd.merge(left = data, right = key,
                        how = 'inner',
                        left_on =  'AnimalID',
                        right_on = 'AnimalID'
                       )
## Drop unneeded columns
merged_inner.drop('Litter_y',         axis = 1, inplace = True)
merged_inner.drop('ID',               axis = 1, inplace = True)
merged_inner.drop('Image Name',       axis = 1, inplace = True)
merged_inner.drop('Vessel Thickness', axis = 1, inplace = True)

merged_inner.rename(columns = {'Litter_x':'Litter'},
                    inplace = True)


#pd.options.display.float_format = '{:,.2f}'.format

## Show first five observations
merged_inner

,Vessels percentage area,Total Number of Junctions,Total Vessels Length,Total Number of End Points,Litter,AnimalID,Genotype
0,65.034498,119,14.215480,16,35,35-3,+/+
1,61.498248,183,16.877167,17,35,35-3,+/+
2,55.247350,157,15.500902,29,35,35-3,+/+
3,55.218967,138,14.465886,37,35,35-5,DEE/DEE
4,51.731472,134,13.181119,32,35,35-5,DEE/DEE
5,53.907283,125,13.055196,47,35,35-5,DEE/DEE
6,62.635569,148,15.047376,38,36,36-4,DEE/DEE
7,65.269094,169,16.007724,27,36,36-4,DEE/DEE
8,60.138528,113,13.177062,28,36,36-4,DEE/DEE
9,62.868619,87,11.536940,27,36,36-4,DEE/DEE
10,60.668839,148,15.432674,28,36,36-4,DEE/DEE
11,61.332944,156,15.291326,39,36,36-4,DEE/DEE
12,63.127682,170,16.094064,30,36,36-5,+/+
13,66.960854,202,17.523376,23,36,36-5,+/+
14,62.807058,143,14.639636,26,36,36-5,+/+
15,57.924427,163,15.687737,41,37,37-3,DEE/+
16,65.537184,159,15.658303,24,37,37-3,DEE/+
17,62.790027,134,14.624286,37,37,37-4,DEE/DEE
18,51.323552,73,11.292903,22,37,37-4,DEE/DEE
19,48.762370,88,12.082311,24,37,37-4,DEE/DEE
20,60.023394,132,14.276983,31,37,37-5,+/+
21,55.290481,96,12.258290,31,37,37-5,+/+
22,60.732602,102,12.772140,14,37,37-5,+/+
23,52.352538,102,12.792498,30,40,40-2,DEE/DEE
24,52.037516,128,14.006124,40,40,40-2,DEE/DEE
25,47.504211,94,11.988895,39,40,40-2,DEE/DEE
26,51.336465,107,12.696118,29,40,40-2,DEE/DEE
27,52.184838,151,14.686744,33,40,40-2,DEE/DEE
28,54.935861,133,14.207391,30,40,40-4,DEE/+
29,50.439276,102,12.142989,35,40,40-4,DEE/+
...,...,...,...,...,...,...,...
32,55.895505,191,16.949296,53,40,40-6,+/+
33,56.641267,177,16.104092,45,40,40-6,+/+
34,52.874593,155,14.881495,51,40,40-6,+/+
35,60.070332,194,16.812083,36,40,40-6,+/+
36,58.130332,198,16.873355,49,40,40-6,+/+
37,52.121967,147,14.892682,47,40,40-6,+/+
38,49.424590,68,9.637989,30,41,41-3,+/+
39,50.331407,120,12.500906,50,41,41-3,+/+
40,56.773672,149,14.784946,32,41,41-3,+/+
41,48.296066,87,10.553913,43,41,41-3,+/+
42,43.896302,107,10.941220,44,41,41-3,+/+
43,51.546778,109,12.712570,46,41,41-4,DEE/DEE
44,49.450038,103,12.183002,43,41,41-4,DEE/DEE
45,48.598642,62,9.075839,33,41,41-4,DEE/DEE
46,58.107846,140,15.020377,53,39,39-1,DEE/+
47,55.104940,119,13.584092,26,39,39-1,DEE/+
48,52.108814,109,12.356930,33,39,39-1,DEE/+
49,54.227195,107,12.864502,33,39,39-1,DEE/+
50,56.485037,118,13.591285,34,39,39-1,DEE/+
51,54.484136,125,13.453907,40,39,39-1,DEE/+
52,50.512337,112,12.658374,51,39,39-2,DEE/DEE
53,58.361082,164,15.620840,43,39,39-2,DEE/DEE
54,50.763889,104,12.840201,42,39,39-2,DEE/DEE
55,48.308340,116,12.607155,48,39,39-2,DEE/DEE
56,43.956306,96,11.270776,45,39,39-2,DEE/DEE
57,56.937297,132,13.998986,44,39,39-3,+/+
58,54.587097,174,15.676976,58,39,39-3,+/+
59,58.178724,169,15.682141,60,39,39-3,+/+
60,58.572454,172,15.881943,50,39,39-3,+/+
61,55.498843,170,16.143181,49,39,39-3,+/+

In [9]:
## Round floats to 3 decimal points

merged_inner['Vessels percentage area'] = (merged_inner['Vessels percentage area']
                                           .apply(lambda x: round(x, 3)))
merged_inner['Total Vessels Length'] = (merged_inner['Total Vessels Length']
                                        .apply(lambda x: round(x, 3)))
merged_inner

,Vessels percentage area,Total Number of Junctions,Total Vessels Length,Total Number of End Points,Litter,AnimalID,Genotype
0,65.034,119,14.215,16,35,35-3,+/+
1,61.498,183,16.877,17,35,35-3,+/+
2,55.247,157,15.501,29,35,35-3,+/+
3,55.219,138,14.466,37,35,35-5,DEE/DEE
4,51.731,134,13.181,32,35,35-5,DEE/DEE
5,53.907,125,13.055,47,35,35-5,DEE/DEE
6,62.636,148,15.047,38,36,36-4,DEE/DEE
7,65.269,169,16.008,27,36,36-4,DEE/DEE
8,60.139,113,13.177,28,36,36-4,DEE/DEE
9,62.869,87,11.537,27,36,36-4,DEE/DEE
10,60.669,148,15.433,28,36,36-4,DEE/DEE
11,61.333,156,15.291,39,36,36-4,DEE/DEE
12,63.128,170,16.094,30,36,36-5,+/+
13,66.961,202,17.523,23,36,36-5,+/+
14,62.807,143,14.640,26,36,36-5,+/+
15,57.924,163,15.688,41,37,37-3,DEE/+
16,65.537,159,15.658,24,37,37-3,DEE/+
17,62.790,134,14.624,37,37,37-4,DEE/DEE
18,51.324,73,11.293,22,37,37-4,DEE/DEE
19,48.762,88,12.082,24,37,37-4,DEE/DEE
20,60.023,132,14.277,31,37,37-5,+/+
21,55.290,96,12.258,31,37,37-5,+/+
22,60.733,102,12.772,14,37,37-5,+/+
23,52.353,102,12.792,30,40,40-2,DEE/DEE
24,52.038,128,14.006,40,40,40-2,DEE/DEE
25,47.504,94,11.989,39,40,40-2,DEE/DEE
26,51.336,107,12.696,29,40,40-2,DEE/DEE
27,52.185,151,14.687,33,40,40-2,DEE/DEE
28,54.936,133,14.207,30,40,40-4,DEE/+
29,50.439,102,12.143,35,40,40-4,DEE/+
...,...,...,...,...,...,...,...
32,55.896,191,16.949,53,40,40-6,+/+
33,56.641,177,16.104,45,40,40-6,+/+
34,52.875,155,14.881,51,40,40-6,+/+
35,60.070,194,16.812,36,40,40-6,+/+
36,58.130,198,16.873,49,40,40-6,+/+
37,52.122,147,14.893,47,40,40-6,+/+
38,49.425,68,9.638,30,41,41-3,+/+
39,50.331,120,12.501,50,41,41-3,+/+
40,56.774,149,14.785,32,41,41-3,+/+
41,48.296,87,10.554,43,41,41-3,+/+
42,43.896,107,10.941,44,41,41-3,+/+
43,51.547,109,12.713,46,41,41-4,DEE/DEE
44,49.450,103,12.183,43,41,41-4,DEE/DEE
45,48.599,62,9.076,33,41,41-4,DEE/DEE
46,58.108,140,15.020,53,39,39-1,DEE/+
47,55.105,119,13.584,26,39,39-1,DEE/+
48,52.109,109,12.357,33,39,39-1,DEE/+
49,54.227,107,12.865,33,39,39-1,DEE/+
50,56.485,118,13.591,34,39,39-1,DEE/+
51,54.484,125,13.454,40,39,39-1,DEE/+
52,50.512,112,12.658,51,39,39-2,DEE/DEE
53,58.361,164,15.621,43,39,39-2,DEE/DEE
54,50.764,104,12.840,42,39,39-2,DEE/DEE
55,48.308,116,12.607,48,39,39-2,DEE/DEE
56,43.956,96,11.271,45,39,39-2,DEE/DEE
57,56.937,132,13.999,44,39,39-3,+/+
58,54.587,174,15.677,58,39,39-3,+/+
59,58.179,169,15.682,60,39,39-3,+/+
60,58.572,172,15.882,50,39,39-3,+/+
61,55.499,170,16.143,49,39,39-3,+/+

In [10]:
## Save to a csv file
## 
merged_inner.to_csv("../data/unblinded_data.csv", index = False)

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>